p{
    font-size: 24px;
}

.btn-primary{
    background-color: blue;
    color: white;
}

#get{
    border: 2px solod black;
}

*{
    box-sizing: border-box;
    margin: 0;
}

#main-title{
    color: blue;
}

.title{
    color: green;
}

h1{
    color:black;
}